* {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	max-width: 800;
	margin: 0 auto;
}

@media (width <= 799px) {
	body {
		margin: 20px;
	}
}

#background {
	background-color: lightblue;
	padding: 20px 0;
}

nav {
	background-color: white;
	border: 10px solid black;
	border-radius: 30px;
	font-size: 20px;
	padding: 10px;
	margin: 10px;
	text-align: center;
}

nav a {
	color: black;
	text-decoration: none;
	margin: 10px 20px;
	font-weight: bold;
	display: inline-block;
}

nav a:hover {
	color: red;
}

nav a:active {
	color: blue;
}


main {
	padding: 0 10px;
}

footer {
	text-align: center;
	padding: 10px;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

li {
	list-style: square;
	padding: 5px;
}

#construction {
	color: red;
	font-size: 32px;
	font-weight: bold;
	text-align: center;
}
